@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
:root{
    --orange: #FF9F1C;
    --raisin-black: #1D1E2C;
    --aero-blue: #B8F2E6;
    --hookers-green: #357266;
    --light-brown: #F3B47C;
}

body{
    margin:0;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.grid-container{
    display:grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 100vh;
    grid-template-areas: "left right";
   
}

.left-container{
    display:grid;
    grid-area: left;
    grid-template-rows: 1fr 1fr;
    background: var(--raisin-black);
}

.header-name{
    justify-self: center;
    align-self:flex-end;
    font-size: 5rem;
    color: var(--aero-blue);
}

.header-name h2:hover{
    background: url(water.jpeg);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.links{
    display:grid;
    justify-self:stretch;
    justify-items:center;
    color: var(--aero-blue)
}

.flexbox-wrapper{
    display:flex;
    width: 70%;
    justify-content: space-around;
    font-size: 4rem;
    
}

.right-container{
    display:grid;
    grid-area: right;
    grid-template-columns:10px auto;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    border-left: 2px solid black;
    background-color: var(--aero-blue);
}

.right-container div{
    /*to skip the tiny 10px column */
    grid-column-start: 2;
    font-size: 4rem;

    /*to make sure each div filled the cell*/
    align-self: stretch;
    justify-self: stretch;

    /*to align the a tags in each div*/
    display: flex;
    align-items: center;
}

a:hover{
    opacity: 0.7;
}

/* #about{
    grid-area: about;
}

#projects{
    grid-area:projects;
    animation:moving 10s ease-in alternate infinite;
}

#name{
    grid-area:name;
}

#resume{
    grid-area: resume;
}

#footer{
    grid-area: footer;
} */
